*.Rhistory*
#*
.#*



/vignettes/#robust_invnorm.Rmd#
/src/RcppExports.o
/src/adaperm.so
/src/combinations.o
/src/matrix_stats.o
/src/random_reassignments_cpp.o
/vignettes/prototypes.html
/vignettes/robust_invnorm.html
/vignettes/simresults.pdf
/data/simulations_node5_160311.Rd
/data/simulations_node5_160312.Rd
/data/simulations_node5_160313.Rd
/data/simulations_node5_160319.Rd
